<!DOCTYPE html>
<html lang="fr">
<head>
</head>
<body>
<p>Veuillez confirmer votre inscription en cliquant <a href="http://127.0.0.1:8000/api/customers/enable-account/{{ token }}/{{ email }}">ici</a>.</p>
</body>
</html>