<!DOCTYPE html>
<html lang="fr">
<head>
</head>
<body>
<p>Veuillez confirmer la réinitialisation de votre mot de passe en cliquant <a href="http://127.0.0.1:8000/api/customers/forgot-password/{{ token }}/{{ email }}">ici</a>.</p>
</body>
</html>