<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
</head>
<body>
    <p>
        {{ 'password_to_update.email %email%'|trans({'%email%': email}, 'emails')|raw }}<br>
        {{ 'password_to_update.password %password%'|trans({'%password%': password}, 'emails')|raw }}
    </p>
    <p>{{ 'password_to_update.text'|trans({}, 'emails') }}</p>
</body>
</html>