<!doctype html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
</head>
<body>
{% set uri = 'http://' ~ url ~ '/api/customers/enable-account/' ~ email ~ '/' ~ token %}
<p>{{ 'account_to_enable.content %uri%'|trans({'%uri%': uri}, 'emails')|raw }}</p>
</body>
</html>